#---------------------
# GLOBAL SETTINGS
#---------------------
global
    log /dev/log local0
    log /dev/log local1 notice
    daemon
    maxconn 2048

#---------------------
# DEFAULTS
#---------------------
defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5s
    timeout client  30s
    timeout server  30s

#---------------------
# FRONTEND
#---------------------
frontend http_front
    bind *:80
    default_backend http_back
    option forwardfor
    redirect scheme https code 301 if !{ ssl_fc }

frontend https_front
    bind *:443 ssl crt /etc/ssl/helpdesk/helpdesk.pem
    mode http
    default_backend http_back
    option forwardfor
#---------------------
# BACKEND
#---------------------
backend http_back
    balance roundrobin
    cookie SERVERID insert indirect nocache
    option httpchk
    http-check send meth HEAD uri / ver HTTP/1.1 hdr Host localhost
    server web1 192.168.10.2:50000 check cookie web1
    server web2 192.168.10.5:50000 check cookie web2

#---------------------
# STATS
#---------------------
listen stats
    bind *:8080
    stats enable
    stats uri /stats
    stats realm HAProxy\ Statistics
    stats auth admin:password
